@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fancy-underline {
    @apply relative inline-block transition-colors duration-300;
  }

  .fancy-underline::after {
    content: "";
    @apply absolute left-1/2 bottom-0 w-0 h-[2px] bg-[#DEB8B8] opacity-0;
    transform: translateX(-50%) translateY(6px);
    transition:
      width 0.3s ease,
      opacity 0.1s ease,
      transform 0.3s ease;
  }

  .fancy-underline:hover {
    @apply text-[#DEB8B8];
  }

  .fancy-underline:hover::after {
    @apply w-full opacity-100;
    transform: translateX(-50%) translateY(0);
  }
}






